body {
  background-color: rgb(252, 127, 164);
}

.container {
  width: 1000px;
  margin: auto;
  margin-top: 15vh;
  border-radius: 30px;
  background-color: rgb(252, 167, 181);
  padding: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

img {
  display: block;
  margin: auto;
}

.heart {
  width: 200px;
  height: 200px;
}

h1 {
  color: black;
  font-family: verdana;
  text-align: center;
  font-size: 50px;
}

.button-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 0 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}


.yes {
  background-color: rgb(248, 109, 163);
  cursor: pointer;
}

.yes:hover {
  background-color: #de272c;
}

.no {
  background-color: lightgrey;
  color: black;
}

.no:hover {
  background-color: transparent;
  color: transparent;
  box-shadow: none;
}

.subtext{
  margin: auto;
  text-align: center;
  font-family: verdana;
  font-size: 11px;
  margin-top: 30px;
  margin-bottom: -10px;
}